spring.application.name=invoice-service
spring.data.mongodb.uri=YOUR_MONGODB_URI_HERE

# Server port
server.port=8082

# Eureka
eureka.client.service-url.defaultZone=http://localhost:8761/eureka/
eureka.instance.prefer-ip-address=true

# Clerk JWT
spring.security.oauth2.resourceserver.jwt.issuer-uri=YOUR_CLERK_ISSUER_URI_HERE
